//
//  Pre.xcconfig
//  CIDemo
//
//  Created by sh on 2018/11/30.
//  Copyright © 2018年 sh. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

#include "common.xcconfig"
// 手写自己拼接来的 目前不知道从哪copy
#include "Pods/Target Support Files/Pods-CIDemo/Pods-CIDemo.pre.xcconfig"

ENABLE_BITCODE = NO;
//GCC_PREFIX_HEADER = newHfax/newHfax.pch;



INFOPLIST_FILE = CIDemo/Info.plist;
IPHONEOS_DEPLOYMENT_TARGET = 9.0;
LD_RUNPATH_SEARCH_PATHS = "$(inherited) @executable_path/Frameworks"; //不加引号是否也可以


PRODUCT_BUNDLE_IDENTIFIER = com.cn.cidemo.pre;
PRODUCT_MODULE_NAME = 集成Demo;
PRODUCT_NAME = 集成Demo;

//CODE_SIGN_ENTITLEMENTS = CIDemo/CIDemo.entitlements;

CODE_SIGN_IDENTITY = ;
OTHER_CODE_SIGN_FLAGS = ;
DEVELOPMENT_TEAM = HNVCTBR54T;
PROVISIONING_PROFILE = "b5386c3d-f1e2-49e0-a110-019b72df5535";
PROVISIONING_PROFILE_SPECIFIER = $APP_PROFILE;

